html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(18, 156, 18);
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

.card {
  display: inline;
  background-color: rgb(18, 156, 18);
  border: none;
}

.card-image {
  width: 5%;
  height: auto;
  margin: 1%;
}